body {
    height: 600px;
    width: 300px;
    background-color: #218cff;
    /* padding: 3em; */
    font-family: 'Sora', monospace;
  }
  
.mainTitle h1 {color:white;padding:10px;}
  
/*
Text box code:
*/

.textBox span {
  opacity: 0;
}
.textBox span.revealed {
  opacity: 1;
}
.textBox span.green {
  color: #27ae60;
}
.textBox span.red {
  color: #ff0000;
}

/* Demo styles */
.textBox {
  font-size: 6vw;
  word-spacing: 0.2em;
  margin: 1 auto;
  background: #fff;
  padding: 1em;
  border-bottom: 1vw solid #0e6dad;
  position:relative;
  line-height: 1.2em;
}
.corner {
  position:absolute;
  width: 10vw;
  right:2vw;
  bottom:0;
  transform: translateY(80%); 
}

/*
Termnial Styling Code
*/
/* .terminal {
  background-color: #2B3D50;
  
} */

#bar {
  text-align: center;
  width: 300px;
  height: 25px;
  background-color: #DAD9D9;
  margin: 0 auto;
  font-family: monospace;
  padding: auto;
  float: none;
  border-radius: 5px;
}

#red {
    background-color: #E94B35;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -47%;
    bottom: -20%;
    position:relative;
}

#yellow {
  background-color: #f0f000;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  left: -40%;
  bottom: 40%;
  position:relative;
  display: block;
}
#green {
  background-color: #1AAF5C;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  left: -33%;
  bottom: 99%;
  position:relative;
  display: block;
}

#screen {
  background-color: #ffffff;
  width: 300px;
  height: 450px;
  border-radius: 2%;
  margin: 0 auto;
  padding: 1px;
  display: flex;
}

.terminalFont {
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 15px;
  text-align: left;
  position: static;
}

.freeText {
  width: 300;
  height: 10;
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 15px;
  text-align: left;
  position: static;
  border-color: #ffffff;
  box-shadow: none;
  /* outline:none; */
}



